<nav id='mainNav'>
    <div class="nav-logo-parent">
        <span class="nav-logo-child">Post Control</span>
    </div>
    <div class="nav">
        <a href="/admin/posts">
            <%- include('./icons/document') %> <span style="margin-left: 5px">All Posts</span>
        </a>
        <a href="/admin/posts/create">
            <%- include('./icons/add-document') %> <span style="margin-left: 5px">New Post</span>
        </a>
    </div>
</nav>