<div class="f-card">
    <div class="content">
            <span class="heading"><%= post.title %></span>
        <p class="para">
            <%= post.excerpt %>
        </p>
        <a class="btn"  href="/posts/<%- post._id %>">Read more</a>
    </div>
</div>