<form class="form_rl">
    <div class="title_container">
        <div class="logo_container">

        </div>

        <p class="title">Register an Account</p>
        <span class="subtitle">Get started with our app, just create an account and enjoy the experience.</span>
    </div>
    <br>



    <button title="Sign In" type="submit" class="sign-in_btn">
        Sign In
    </button>
</form>
