<nav>
    <div class="left-side">
        <input type="checkbox" style="background-image: url('./public/assets/images/background.jpg')">
        <div class="nav-links">
            <div class="nav-link-wrapper"><a class="anim-btn" href="/">Home</a></div>
            <div class="nav-link-wrapper"><a class="anim-btn" href="/register/create">Register</a></div>
            <div class="nav-link-wrapper"><a class="anim-btn" href="/login/create">Login</a></div>
            <div class="nav-link-wrapper"><a class="anim-btn" href="/admin/posts">Manage Posts</a></div>
        </div>
    </div>
    <div class="right-side">

        <%= // include('./search-form') %>


            <div class="hamburger">

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6" style="width: 50px">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </div>
    </div>
</nav>