<% if (messages.length> 0) { %>
    <div class="flash-card alert" style="position: fixed; bottom: 5px; right: 5px; ">
        <div class="flash-content">
            <span class="flash-title"><%- messages %></span>
        </div>
    </div>
    <% } %>