<div class="wrapper">
    <div class="landing-page">
        <h1> 404 Error.</h1>
        <p> We can't find the page you're looking for.</p>
        <a class="btn" style="text-decoration: none" href="/">Back to home</a>
    </div>
</div>